.login-container {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 0.3rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.page-name {
  text-align: center;
  font-size: 2.5rem;
}

.rocket-image {
  border: solid blue;
  border-radius: 50%;
}

.buttons-container {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.button {
  background-color: white;
  color: blue;
  font-weight: 600;
  padding: 0.3rem;
  border-radius: 10%;
  width: 5rem;
  height: 2rem;
}
